tests/validation/workflow-scripts/llm-output-access/fixtures/invalid-direct-access.json
{
  "name": "Invalid LLM Output Access - Direct (Missing .output)",
  "nodes": [
    {
      "id": "webhook-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "/test"
      }
    },
    {
      "id": "chain-llm-001",
      "name": "Classify Document",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [220, 0],
      "parameters": {
        "promptType": "define",
        "text": "=Classify this document: {{ $json.content }}",
        "hasOutputParser": true,
        "options": {}
      }
    },
    {
      "id": "claude-model-001",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [172, 192],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "{{FLEXCRED_ANTHROPIC_ID_DERCXELF}}",
          "name": "{{FLEXCRED_ANTHROPIC_NAME_DERCXELF}}"
        }
      }
    },
    {
      "id": "output-parser-001",
      "name": "Classification Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [316, 192],
      "parameters": {
        "jsonSchemaExample": "{\n  \"documentType\": \"proposal\",\n  \"confidence\": \"high\"\n}"
      }
    },
    {
      "id": "if-001",
      "name": "IF High Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-confidence",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "codika-submit-001",
      "name": "Codika Submit Result",
      "type": "n8n-nodes-codika.codika",
      "typeVersion": 1,
      "position": [660, 0],
      "parameters": {
        "resource": "result",
        "operation": "submitResult",
        "resultData": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Classify Document", "type": "main", "index": 0 }]]
    },
    "Claude Model": {
      "ai_languageModel": [[{ "node": "Classify Document", "type": "ai_languageModel", "index": 0 }]]
    },
    "Classification Parser": {
      "ai_outputParser": [[{ "node": "Classify Document", "type": "ai_outputParser", "index": 0 }]]
    },
    "Classify Document": {
      "main": [[{ "node": "IF High Confidence", "type": "main", "index": 0 }]]
    },
    "IF High Confidence": {
      "main": [
        [{ "node": "Codika Submit Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "{{ORGSECRET_ERROR_WORKFLOW_ID_TERCESORG}}"
  }
}
